<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="3" name="Regression">
    <classes>
     <class name="POM.Sample">
     <methods>
     <exclude name="test2"></exclude>
      </methods>
      </class>
   </classes>
  </test> <!-- Test -->
  
  <test name="Functional">
  <parameter name="a" value="10"></parameter>
    <parameter name="b" value="20"></parameter>
    <classes>
  <class name="POM.Sample1">
  </class>
  </classes>
  </test>
  
  
  
  <test name="Sanity">
  <classes>
  <class name="POM.ZerodhaLoginTest"></class>
  </classes></test>   
  
  <test name="Facebooklogin">
  <classes>
  <class name="Automation.Facebook_login_test"></class>
  </classes>
  </test>
</suite> <!-- Suite --> 
